@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;800&display=swap');

:root{
    --accent: #01579B;
    --extreme: #00B0FF;
    --white: #f5f5f5;
    --light: #d7ccc8;
    --dark: #616161;
    --black: #020202;

    --spacer-sm: 0.8rem;
    --spacer-med: 1rem;
    --spacer-lg: 1.2rem;

    --font: 'Spartan', sans-serif;
    --bold: 800;

}

@media all and (min-width: 650px){
    :root{
    --spacer-sm: 1rem;
    --spacer-med: 1.2rem;
    --spacer-lg: 1.5rem;
    }


}