*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    height: 100%;
    width: 100%;
    background-color: var(--white);
    color: var(--dark);
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font);
}

header{
    width: inherit;
    background-color: var(--accent);
    color: var(--white);
    padding: var(--spacer-sm) var(--spacer-med);
    font-weight: var(--bold);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    font-weight: var(--bold);
    display: flex;
    height: 100%;
    width: inherit;
    color: var(--light);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
    background-color: var(--accent);
}
footer p{
    color: var(--white)
}
section{
    padding: var(--spacer-med);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

p{
    color: var(--black);
    font-size: 14px;
}

h1{
   font-size: 35px;
   
}

h2{
    color: var(--light);
    font-size: 18px;
}

img{
    width: 90%;
    max-width: 70vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacer-sm) var(--spacer-lg);
}

article > *{
    padding: var(--spacer-sm);
}
.input-name{
    width: 100%;
    font-size: 18px;
    outline:0;
    margin-top: 3px;
}

.input-name:focus{
    border: 2px solid var(--accent);
}

form>*{
    padding: var(--spacer-sm);
}

button{
    width: 90px;
    height: 40px;
    background-color: var(--accent);
    color: var(--white);
    outline: 0;
    border: 2px solid var(--accent);
    border-radius: 20px;
    font-weight: var(--bold);
    margin: var(--spacer-sm) 0;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    padding: 0;
}

button:focus{
    background-color: var(--light);
    color: var(--accent);
    border: 2px solid var(--accent);
}

.pet-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--spacer-med) 0;
    background-color: var(--light);
    margin: var(--spacer-sm) 0;
    cursor: pointer;
}
.pet-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.link{
    font-weight: var(--bold);
    color: var(--accent);
}

.meet{
    font-size: 18px;
    padding-bottom: var(--spacer-sm);
}

.back{
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
}

.icon{
    font-size: 25px;
    color: var(--white);
}

.desc{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: var(--spacer-sm) 0;
}

.desc-spec{
    font-weight: var(--bold);
}
.pet-wrapper{
    padding: var(--spacer-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pet-wrapper >*{
    padding: var(--spacer-sm);
}

.button-wrapper{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
}

.more-info{
    padding-top: var(--spacer-lg);
}

.adopt_wrapper{
    justify-content: space-evenly;
    height: calc(100vh - 100px);
}

.landing_wrapper section{
    padding-bottom: 0;
}

.ready_wrapper{
    background-color: var(--light);
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer-lg);
    color: var(--dark);
}



.ready_wrapper p{
    padding-top: var(--spacer-sm);
}

.blue{
    color: var(--accent); 
    font-weight: var(--bold);
}

.pointer{
    cursor: pointer;
}
.ready_title{
    color: var(--black);
    font-weight: 400;
}

.arrow{
    font-size: 30px;
}

.center{
    align-self: center;
}

@media all and (min-width: 400px){

    h1{
        font-size: 45px;
       
    }



}

@media all and (min-width: 650px){

    header{
        padding: var(--spacer-sm) var(--spacer-med) 0;
        flex-direction: row;
        justify-content: space-between;
    }

    
}

@media all and (min-width: 800px){
    .landing_wrapper{
        display: flex;
        flex-direction: row-reverse;
    }
}